@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), local('Helvetica Neue');
}

.font-helvetica {
  font-family: 'Helvetica', sans-serif;
}
